*{
  padding:0;
  margin:0;
}
#counter-section{
	height:60vh;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/img1.jpg);
	background-size:cover;
	background-position:center;
	
}
.container{
	text-align:center;
	padding:150px 120px;
}
.count-row{
	width:100%;
	display:flex;
	
}	
.count-col{
	width:25%;
}
b{
	font-size:50px;
	color:white;
}
p{
	font-size:18px;
	font-family:arial;
  color:rgb(191, 191, 182); 	
}	
	

